{% extends 'portfolio/base.html' %}
{% load crispy_forms_filters %}

{% block content %}

{% load static %}
{% load crispy_forms_tags %}

<div class="intro">
    <div class="container-fluid" id="intro-text-container">
        <div class="row intro-small-row"></div>
        <div class="row align-items-center my-auto intro-big-row">
            <div class="col-md-6 mx-auto">
                <h1 class="display-1 text-light text-center">Matthew Harrop</h1>
                <hr class="text-white my-3" style="height: 2px">
                <p class="text-white text-center display-5">Online Portfolio</p>
            </div>
        </div>
        <div class="row intro-small-row">
            <div class="col-2"></div>
            <div class="col-sm-8 ms-auto"></div>
            <div class="col-2">
                <a id="intro-scroll-button" href="#about" class="">
                    <div class="h-100 bounce">
                        <i id="bouncing-arrow" class="bi bi-chevron-down text-white"></i>
                    </div>
                </a>
            </div>
        </div>
    </div>
</div>

<div id="about" class="">
    <div class="container-fluid">
        <div class="row">
            <div class="col-2"></div>
            <div class="col-8 py-4">
                <h1 class="display-4 text-center my-0 green-text mb-4">
                    Bio
                </h1>
                <hr class="my-0">
                <div class="row my-5 align-items-center">
                    <div class="col-sm-4">
                        <div class="">
                            <h5 class="green-text">About Me</h5>
                            <p class="">
                                I'm an all-around IT-guy with a few years experience supporting the technical side of banks and writing software. I've dabbled in just about everything and am looking forward to a long career of exciting software projects.
                            </p>
                        </div>
                    </div>
                    <div class="col-sm-4 text-center">
                        <img src="{% static 'portfolio/mharrop2.png' %}" alt="" class="img-fluid" style="height: ">
                    </div>
                    <div class="col-sm-4">
                        <h5 class="green-text mt-3">Fun Facts</h5>
                        <p><b>Located:</b></p>
                        <p>Pacific Northwest</p>
                        <p><b>Interests:</b></p>
                        <p>Writing, Robotics, Woodworking</p>
                        <p><b>Long-Term Plans:</b></p>
                        <p>Write novels, create mobile/web-based apps and games, build robots.</p>
                    </div>
                </div>
            </div>
            <div class="col-2">
                <div id="floatingNavBar" class="">
                    <a class="nav-button" href="#about">
                        <p class="my-auto d-block">
                            Bio
                        </p>
                    </a>
                    <a class="nav-button" href="#experience">
                        <p class="my-auto d-block">
                            Experience
                        </p>
                    </a>
                    <a class="nav-button" href="#projects">
                        <p class="my-auto d-block">
                            Projects
                        </p>
                    </a>
                    <a class="nav-button" href="#contact">
                        <p class="my-auto d-block">
                            Contact
                        </p>
                    </a>
                </div>
            </div>
        </div>
    </div>
</div>

<div id="experience" class="container-fluid py-4">
    <div class="row my-4">
        <div class="col-8 mx-auto">
            <h1 class="display-2 text-center my-0 green-text">
                Experience
            </h1>
            <hr>
        </div>
    </div>
    <div class="col-sm-8 mx-auto">
        <div class="row">
            <h1 class="display-5 my-5 green-text">
                Work
            </h1>
        </div>
        {% for experience in experiences %}
            {% if experience.type == "work" %}
                <div class="row mb-5">
                    <div class="col-4">
                        <p><b>{{ experience.institution}}</b></p>
                        <p>{{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y"  }}</p>
                    </div>
                    <div class="col-8">
                        <p><b>{{ experience.title }}</b></p>
                        <p>{{ experience.description }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
        <div class="row">
            <hr>
            <h1 class="display-5 my-5 green-text">
                Education
            </h1>
        </div>
        {% for experience in experiences %}
            {% if experience.type == "education" %}
                <div class="row mb-5">
                    <div class="col-4">
                        <p><b>{{ experience.institution}}</b></p>
                        <p>{{ experience.start_date|date:"M Y" }} - {{ experience.end_date|date:"M Y"  }}</p>
                    </div>
                    <div class="col-8">
                        <p><b>{{ experience.title }}</b></p>
                        <p>{{ experience.description }}</p>
                    </div>
                </div>
            {% endif %}
        {% endfor %}
    </div>
</div>

<div id="projects" class="container-fluid py-4">
    <div class="row mb-4 my-4">
        <div class="col-8 mx-auto">
            <h1 class="display-4 text-center my-0">
                Projects
            </h1>
            <hr class="mb-5">
        </div>
    </div>
    <div class="row">
        <div class="col-8 mx-auto">
            <div class="row">
                {% for project in projects %}
                    <div class="col-sm-6 p-4">
                        <div class="card">
                            <img class="card-img-top card-image" src="{{ project.image.url }}" alt="[{{ project.image }}]"/>
                            <div class="card-body">
                                <h2>{{ project.title }}</h2>
                                <p>{{ project.description }}</p>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

<div id="contact" class="container-fluid">
    <div class="row mb-4 my-4 pt-4">
        <div class="col-8 mx-auto">
            <h1 class="display-4 text-center text-white">
                Contact
            </h1>
            <hr class="my-0">
        </div>
    </div>
    <div class="row">
        <div class="col-md-8 mx-auto">
            <div class="row my-3 text-center">
                <div class="col-sm-12 mx-auto gray-text">
                    <p>If you would like to get a hold of me, please feel free to reach out via email or Linkedin (I don't really use Twitter or any social media; just not for me), or leave me a message directly using the form below.</p>
                </div>
            </div>
            <div class="row py-5">
                <div class="col-md-9 mx-auto">
                    <form action="" method="post" class="px-2">
                        {% csrf_token %}
                        {{ message_form.non_field_errors }}
                        <div class="row">
                            <div class="fieldWrapper col-6 d-inline">
                                {{ message_form.first_name.errors }}
                                {#                        <label for="{{ message_form.first_name.id_for_label }}">First Name:</label>#}
                                {{ message_form.first_name|as_crispy_field }}
                            </div>
                            <div class="fieldWrapper col-6 d-inline">
                                {{ message_form.last_name.errors }}
                                {#                        <label for="{{ message_form.last_name.id_for_label }}">Last Name:</label>#}
                                {{ message_form.last_name|as_crispy_field }}
                            </div>
                            <div class="fieldWrapper form-group">
                                {{ message_form.email_address.errors }}
                                {#                        <label for="{{ message_form.email_address.id_for_label }}">Email:</label>#}
                                {{ message_form.email_address|as_crispy_field }}
                            </div>
                            <div class="fieldWrapper form-group">
                                {{ message_form.content.errors }}
                                {#                        <label for="{{ message_form.content.id_for_label }}">Your Message:</label>#}
                                {{ message_form.content|as_crispy_field }}
                            </div>
                            <div class="col-4 ml-auto">
                                <input type="submit" value="Submit" class="btn btn-dark mt-3">
                            </div>
                        </div>

                        {#                    {{ message_form|crispy }}#}
                    </form>
                </div>
                <div class="row mt-4">
                    <hr>
                    <div class="col-6 col-md-3 mx-auto">
                        <div class="row">
                            <div class="col-6 text-center">
                                <a href="https://www.linkedin.com/in/matthew-harrop-787155156" target="_blank" class="gray-text d-inline mr-auto">
                                    <span class="bi bi-linkedin display-5"></span>
                                </a>
                            </div>
                            <div class="col-6 text-center">
                                <a href="" class="gray-text d-inline ml-auto">
                                    <span class="bi bi-envelope display-5"></span>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
        </div>
    </div>
</div>

{#<h1>This is the home page.</h1>#}
{#<a href="{% url 'blog:blog_home'  %}">Blog</a>#}
{#<a href="{% static 'portfolio/MatthewHarrop_Resume.pdf' %}">Resume</a>#}
{#<img src="{% static 'portfolio/MHarrop.jpg' %}" alt="">#}
{#{% for project in projects %}#}
{#    <h2>#}
{#        {{ project.title }}#}
{#    </h2>#}
{#    <p>#}
{#        {{ project.description }}#}
{#    </p>#}
{#    <img src="{{ project.image.url }}" alt="[{{ project.image }}]"/>#}
{#{% endfor %}#}
{##}
{% endblock %}