asgiref==3.3.1
certifi==2020.12.5
cffi==1.14.5
chardet==3.0.4
cli-helpers==2.1.0
click==7.1.2
configobj==5.0.6
cryptography==3.4.6
cssutils==1.0.2
Django==3.1.3
django-colorful==1.3
django-crispy-forms==1.11.1
idna==2.10
libsass==0.20.1
msal==1.7.0
numpy==1.19.5
opencv-python-headless==4.5.1.48
pendulum==2.1.2
Pillow==8.1.0
prompt-toolkit==3.0.8
psycopg2-binary==2.8.6
pycparser==2.20
Pygments==2.7.3
PyJWT==1.7.1
PyQt5==5.12
PyQt5-sip==4.19.19
python-dateutil==2.8.1
pytz==2020.4
pytzdata==2020.1
PyYAML==5.3.1
requests==2.25.0
six==1.15.0
sqlparse==0.4.1
tabulate==0.8.7
terminaltables==3.1.0
urllib3==1.26.3
wcwidth==0.2.5
