* {
    font-family: "Didot", sans-serif;
}

a {
    font-size: x-large;
}

html {
    scroll-behavior: smooth;
}

.intro {
    height: 100vh;
    width: 100%;
    /*background: url("mountain_sunset.jpg") no-repeat;*/
    background: url("coffee-on-counter-john-forson.jpg") no-repeat center;
    background-size: cover;

    /*filter: blur(8px);*/
    /*-webkit-filter: blur(8px);*/
}

#intro-text-container {
    height: 100%;
}

#experience {
    background-color: antiquewhite;
}

#contact {
    background-color: dimgray;
}

form label {
    color: white;
}

.full-height {
    height: 100%;
}

.card-image {
    max-height: 30vh;
}

.green-text {
    color: #185718
}

.gray-text {
    color: lightgray;
}

.intro-small-row {
    height: 80px;
}

.intro-big-row {
    height: calc(100% - 160px);
}

#intro-scroll-button {
    height: 80px;
    width: 110px;
    display: block;
    margin-right: 0;
    /*margin-left: auto;*/
    background-color: black;
    text-align: center;
}

.floating-nav-bar {
    /*position: -webkit-sticky;*/
    /*position: sticky;*/
    /*top: 20px;*/
    position: fixed;
    top: 20px;
}


/*#smallNavBar {*/
/*    height: 80px;*/
/*    width: 110px;*/
/*    background-color: black;*/
/*    color: white;*/
/*    !*display: flex;*!*/
/*}*/

/*text-white d-flex align-items-center justify-content-center*/

.nav-button {
    height: 80px;
    width: 110px;
    font-size: 100%;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    text-decoration: none;
    /*margin-right: 0;*/
    /*margin-left: auto;*/
    background-color: black;
    text-align: center;
}

.nav-button-highlighted {
    background-color: #185718;
}

.nav-button:hover {
    color: darkgray;
}

.justified {
    text-align: justify;
    text-justify: inter-word;
}

.project-image:hover > .overlay {
    width:100%;
    height:100%;
    position:absolute;
}

.project-title {
    color: white;
    text-align: center;
    font-size: x-large;
    /*margin-top: 10px;*/
}

.project-description {
    color: white;
    text-align: center;
    font-size: large;
    /*margin: 15px;*/
}

.opaque-background {
    background-color:#000;
    opacity:0.7;
}

/*Trying to make the chevron arrow in the little black box bounce up and down*/

/*a div i {*/
/*    display: inline-block;*/
/*    margin-top: 10px;*/
/*}*/

#bouncing-arrow {
    display: inline-block;
    margin-top: 15px;
}

#floatingNavBar {
    display: inline;
    width: 110px;
}

.bounce {
    -webkit-animation: bounce 1s infinite  alternate;
    animation: bounce 1s infinite  alternate;
}
@-webkit-keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}
@keyframes bounce {
    0% { transform: translateY(0); }
    100% { transform: translateY(15px); }
}